:root {
    font-family: "Kanit", sans-serif;
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-thumb {
        background: rgb(122, 110, 170);
        border-radius: 8px;
    }
}
/*Variables*/
$color-main: rgb(101, 16, 211);
$color-main-opacity: rgb(122, 110, 170);
$color-main-gradient: linear-gradient(#7717e4, #8b3fe2);
$color-secondary: rgb(40, 13, 95);
$font-secondary: 'Fugaz One', cursive;

/*COMPONENTS*/

/*CARDS*/
.card-set {
    margin-bottom: 100px;
    transition: 0.5s;
    h4 {
        color: $color-secondary;
        font-weight: 600;
    }
    p {
        color: $color-main-opacity;
        font-weight: 400;
    }
}
.card-set:hover {
    transform: scale(1.1);
    transition: 0.5s;
    h4, p{
        color: white;
    }
    .card-cont-set{
        background-color: $color-secondary;
    }    
}
.card-cont-set {
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    transition: 0.3s;
}
.card-cont-set:hover {
    transition: 0.5s;
    box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    #card-img-settings {
        transform: rotate(10deg);
        transition: 0.3s;
    }
}
#card-img-settings {
    height: 200px;
    object-fit: contain;
    transition: 0.5s;
}
/*Cads productos*/
.cards-prod-set{
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    transition: 0.3s;
    h5{
        color: $color-secondary;
    }
}
.cards-prod-set:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    transition: 0.5s;
}
.cards-prod-img{
    object-fit: contain;
    border-radius: 24px;
    height: 200px;
}
.cards-prod-img-2{
    object-fit: cover;
    border-radius: 24px;
}

/*BUTTONS*/
.button-settings {
    background: rgb(31, 199, 212);
    font-weight: 600;
    letter-spacing: 0.8px;
    border: none;
    box-shadow: inset 0 -2px 0px 0px rgba(14, 14, 44, 0.4);
    border-radius: 16px;
    transition: 0.3s opacity;
}
.button-settings:hover {
    opacity: 0.7;
    transition: 0.3s opacity;
}
.button-settings:active {
    box-shadow: none;
    transform: translateY(1px);
}
.button-2-settings {
    font-weight: 600;
    letter-spacing: 0.5px;
    background: transparent;
    border: 2px solid rgb(31, 199, 212);
    border-radius: 15px;
    transition: 0.3s opacity;
    a {
        color: rgb(31, 199, 212);
        text-decoration: none;
    }
}
.button-2-settings:hover {
    opacity: 0.7;
    transition: 0.3s opacity;
    a {
        text-decoration: underline;
    }
}
.button-2-settings:active {
    transform: translateY(1px);
}


/*ICONS*/

/*Index-icons*/
.icon-settings {
    height: 150px;
    object-fit: contain;
    transition: 0.5s;
}
.icon-settings:hover {
    transform: scale(1.1);
    opacity: 0.9;
    transition: 0.5s;
}
/*Contact-icons*/
.icon-contact-set {
    transition: 0.5s;
    height: 7vh;
}
@media screen and (min-width:2100px) {
    .icon-contact-set{
        height: 4vh;
    }
}
.icon-contact-set:hover {
    transform: scale(1.1);
    opacity: 0.9;
    transition: 0.5s;
}
/*Footer-icons*/
.icon-footer-set{
    color: white;
    transition: 0.5s;
}
.icon-footer-set:hover{
    transform: scale(1.1);
    opacity: 0.9;
    transition: 0.5s;
}

/*MODAL*/
.modal-set{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    h5{
        color: $color-secondary;
    }
    span{
        color: $color-main-opacity;
    }
}

/*Body*/

body {
    overflow-x: hidden;
}
.whatsapp-icon{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    transition: 0.3s;
}
.whatsapp-icon:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
/*INDEX*/

/*Header*/
.barra-set{
    background: $color-main;
    color: white;
    position: relative;
    top: 55px;
    z-index: 3;
}
@media screen and (min-width: 2100px) {
    .barra-set{
        top: 100px;
    }
}
.header-set {
    position: sticky;
    top: 1;
    z-index: 1;
    padding: 100px 0px 10px 0px;
    background:white;
    @media screen and (min-width:768px){
        padding: 50px 0px 50px 0px;
    }

    h2 {
        font-weight: 600;
        color: rgb(118, 69, 217);
        letter-spacing: 1px;
        line-height: 1, 2;
    }
    h3{
        font-weight: 600;
        color: rgb(118, 69, 217);
        letter-spacing: 1px;
        line-height: 1, 2;
    }
    p {
        font-weight: 600;
        line-height: 1, 1;
        color: $color-secondary;
    }
    .a-link{
        color: $color-main;
    }
    span{
        color: rgb(31, 199, 212);
        font-weight: 700;
    }
    .link-info{
        color: $color-secondary;
    }
    .img-header-set{
        animation: img-animation 4s 0s ease-in infinite;
    }
    @media screen and (max-width:990px) {
        .img-header-set{
            height: 45vh;
        }
    }
    @media screen and (min-width:991px){
        .img-header-set{
            height: 55vh;
        }
    }
    @media screen and (min-width:2100px) {
        .img-header-set{
            height: 30vh;
        }
    }
    @keyframes img-animation {
        0% {transform:translate( 0px, 25px)}
        25% {transform:translate( 0px, 20px)}
        50% {transform:translate( 0px, 25px)}
        50% {transform:translate( 0px, 20px)}
        100% {transform: translate( 0px, 25px);}
    }
}
/*Nav*/
#navbarset {
    width: 100vw;
    padding: 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(231, 227, 235);
    backdrop-filter: blur(2px);
    .title{
        font-family: $font-secondary;
        color: $color-secondary;
        text-decoration: none;
        letter-spacing: 1,5px;
        img{
            height: 6vh;
        }
        .img2{
            height: 1.5vh;
        }
    }
    @media screen and (min-width:2100px) {
        .title{
            color: black;
            text-decoration: none;
            font-weight: 200;
            font-style: italic;
            letter-spacing: 1,5px;
            img{
                height: 5vh;
            }
            .img2{
                height: 1vh;
            }
        }
    }
    li {
        border-radius: 15px;
        padding: 4px 4px;
    }
    li:hover {
        background: rgb(239, 244, 245);
        backdrop-filter: blur(1px);
    }
    a {
        color: $color-main-opacity;
        font-weight: 400;
    }
    .link-active {
        color: $color-main;
        font-weight: 600;
    }
    
}
/*Servicios*/
.servicios-set {
    h3 {
        font-weight: 600;
        line-height: 1, 1;
        color: $color-secondary;
    }
    p {
        color: $color-main-opacity;
        font-weight: 400;
    }
}
/*Features*/
.features-set {
    background: rgba(255, 255, 255, 0.425);
    h2 {
        color: $color-secondary;
        font-weight: 600;
    }
    h3 {
        color: $color-secondary;
        font-weight: 600;
    }
    a {
        color: $color-main;
    }
    p {
        color: $color-main-opacity;
    }
}
/*Footer*/
.footer-set{
    background: rgb(39, 38, 44);
    h5{
        font-weight: 600;
        color: rgb(154, 106, 255);
    }
    li{
        line-height: 40px;
    }
    a{
        text-decoration: none;
        font-weight: 400;
        color: rgb(231, 227, 235);
    }
    a:hover{
        text-decoration: underline;
    }
    .footer-logo{
        img{
            height: 13vh;
        }
    }
    @media screen and (min-width:2100px) {
        .footer-logo{
            img{
                height: 5vh;
            }
        }
    }
}
.footer-cont-set{
    border-bottom: 1px solid rgba(231, 227, 235, 0.1);
}
.footer-map{
    width: 80vw;
    iframe{
        border-radius: 24px;
    }
}


/*NOSOTROS*/

/*Nosotros*/
.nosotros-set{
    h3{
        font-weight: 600;
        color: $color-main;
    }
    p{
        font-weight: 400;
        color: $color-main-opacity;
    }
}
/*Nosotros imgs*/
.nosotros-container-settings {
    overflow: hidden;
}
.nosotros-img-settings {
    transition: 0.5s;
    border-radius: 24px
}
.nosotros-img-settings:hover {
    object-fit: contain;
    transform: scale(1.1);
    transition: 0.5s;
}

/*CONTACTO*/

/*Formulario*/
.form-set{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    h2{
        font-weight: 600;
        color: $color-secondary;
    }
    p{
        font-weight: 400;
        color: $color-secondary;
    }
    .input-form{
        padding: 20px;
        border-radius: 15px;
        box-shadow: none;
        color: $color-secondary;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    }
    .label-color{
        color: $color-secondary;
    }
}
.contact-cards{
    h5, p{
        color: $color-secondary;
    }
}


